# load Dataset

In [ ]:
import pandas as pd
df=pd.read_csv("Fraud.csv")
df.head(5)

In [56]:
df[df.isFraud==1]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,TRANSFER,181.00,C1305486145,181.00,0.0,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.0,C38997010,21182.00,0.00,1,0
251,1,TRANSFER,2806.00,C1420196421,2806.00,0.0,C972765878,0.00,0.00,1,0
252,1,CASH_OUT,2806.00,C2101527076,2806.00,0.0,C1007251739,26202.00,0.00,1,0
680,1,TRANSFER,20128.00,C137533655,20128.00,0.0,C1848415041,0.00,0.00,1,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [57]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [58]:
df.groupby('type')['type'].agg('count')

type
CASH_IN     1399284
CASH_OUT    2237500
DEBIT         41432
PAYMENT     2151495
TRANSFER     532909
Name: type, dtype: int64

# Dimension reduction

In [59]:
df1=df.drop(['nameOrig','nameDest'],axis=1)

In [60]:
df1.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0,0
1,1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0,0
2,1,TRANSFER,181.00,181.0,0.00,0.0,0.0,1,0
3,1,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0,0

In [63]:
df2=pd.get_dummies(df.type) # place of dummie we use OneHotEncoder
df2

         CASH_IN  CASH_OUT  DEBIT  PAYMENT  TRANSFER
0          False     False  False     True     False
1          False     False  False     True     False
2          False     False  False    False      True
3          False      True  False    False     False
4          False     False  False     True     False
...          ...       ...    ...      ...       ...
6362615    False      True  False    False     False
6362616    False     False  False    False      True
6362617    False      True  False    False     False
6362618    False     False  False    False      True
6362619    False      True  False    False     False

[6362620 rows x 5 columns]

In [64]:
df2=df2.drop(['TRANSFER'],axis=1)

In [65]:
df3=pd.concat([df1,df2],axis=1)

In [66]:
df3

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CASH_IN,CASH_OUT,DEBIT,PAYMENT
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0,False,False,False,True
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0,False,False,False,True
2,1,TRANSFER,181.00,181.00,0.00,0.00,0.00,1,0,False,False,False,False
3,1,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1,0,False,True,False,False
4,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0,False,True,False,False
6362616,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0,False,False,False,False
6362617,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0,False,True,False,False
6362618,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0,False,False,False,False
6362619,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0,False,True,False,False

In [67]:
X=df3.drop(['type','isFraud','isFlaggedFraud'],axis=1)
X

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,CASH_IN,CASH_OUT,DEBIT,PAYMENT
0,1,9839.64,170136.00,160296.36,0.00,0.00,False,False,False,True
1,1,1864.28,21249.00,19384.72,0.00,0.00,False,False,False,True
2,1,181.00,181.00,0.00,0.00,0.00,False,False,False,False
3,1,181.00,181.00,0.00,21182.00,0.00,False,True,False,False
4,1,11668.14,41554.00,29885.86,0.00,0.00,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,False,True,False,False
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,False,False,False,False
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,False,True,False,False
6362618,743,850002.52,850002.52,0.00,0.00,0.00,False,False,False,False
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,False,True,False,False

In [68]:
y=df3[['isFraud','isFlaggedFraud']]
y

         isFraud  isFlaggedFraud
0              0               0
1              0               0
2              1               0
3              1               0
4              0               0
...          ...             ...
6362615        1               0
6362616        1               0
6362617        1               0
6362618        1               0
6362619        1               0

[6362620 rows x 2 columns]

# Training and Test Data

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2)

# Machine learnig model Decision tree

In [70]:
from sklearn.tree import DecisionTreeClassifier  
model=DecisionTreeClassifier()

In [71]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [72]:
model.score(X_test,y_test)

0.9997005950378932

In [73]:
model.predict([[743,339682.13,339682.13,0.00,0.00,339682.13,0,0,0,0]])

C:\python\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([[1, 0]], dtype=int64)

In [74]:
# 1	181.00	181.00	0.00	0.00	0.00	False	False	False	False
model.predict([[1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,1]])

C:\python\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([[0, 0]], dtype=int64)

# Compare diffrent models by GridSearchchCv

In [81]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import ShuffleSplit

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {}
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeClassifier(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

In [ ]:
find_best_model_using_gridsearchcv(X,y) #due to large data set output is not comming but deision tree is best algo according to dataset

C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.812e+03, tolerance: 6.564e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.818e+03, tolerance: 6.557e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.804e+03, tolerance: 6.566e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.787e+03, tolerance: 6.548e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.799e+03, tolerance: 6.514e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.748e+03, tolerance: 6.564e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.752e+03, tolerance: 6.557e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.746e+03, tolerance: 6.566e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.730e+03, tolerance: 6.548e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.732e+03, tolerance: 6.514e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.800e+03, tolerance: 6.564e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.803e+03, tolerance: 6.557e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.797e+03, tolerance: 6.566e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.780e+03, tolerance: 6.548e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.785e+03, tolerance: 6.514e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.720e+03, tolerance: 6.564e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.723e+03, tolerance: 6.557e-01
  model = cd_fast.enet_coordinate_descent(
C:\python\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.717e+03, tolerance: 6.566e-01
  model = cd_fast.enet_coordinate_descent(

# Some more model to predict by GridsearchchCv

In [ ]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier


model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
    ,'GaussianNB':{
        'model':GaussianNB(),
        'params':{}
    }
    ,
    
    'DecisionTreeClassifier':{
        'model':DecisionTreeClassifier(),
        'params':{
             'criterion': ['gini','entropy'],
        }
        
    }
 
    
}